[core]
	editor = uedit64
	autocrlf = true
	excludesfile = ~/.gitignore
[pull]
	rebase = true
[user]
	name = Steven Fisher
	email = a_brit_abroad@hotmail.com
[merge]
	tool = p4merge
[color]
	ui = true
[color "status"]
	changed = red bold
	untracked = red bold
	added = green bold
[color "branch"]
	remote = red bold
	
