[core]
	editor = code --wait
	autocrlf = true
	excludesfile = ~/.gitignore
[pull]
	rebase = true
[user]
	name = Steven Fisher
	email = a_brit_abroad@hotmail.com
	
[alias]
	ls-files-root = ! git ls-files
	
[merge]
	tool = p4merge
[color]
	ui = true
[color "status"]
	changed = red bold
	untracked = red bold
	added = green bold
[color "branch"]
	remote = red bold
	
